name: github pages

on:
  push:
    branches:
      - main # 設定要部署的分支
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true # 獲取 Hugo 主題（true 或 recursive）
          fetch-depth: 0 # 獲取所有歷史記錄以支援 .GitInfo 和 .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.119.0"
          extended: true # 使用擴充版本

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        # 如果您要從 main 更改分支，
        # 也請相應地更改下面 `refs/heads/main` 中的 `main`
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
